.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    padding: 5%;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  input[type=text], input[type=password], input[type=email], input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
        border-radius: 15px 15px 15px 15px;
        outline: 0;
        outline-color: white;
        padding: 12px;
        color: white;
        background-color: #258de2;
        text-align: center;
        cursor: pointer;
        width: 25%;
        font-size: 18px;
        margin-bottom: 25px;
      }


  a {
    text-decoration:none;
    font-size: 22px;
    color: black;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }

  @media screen and (max-width: 500px) {
    .card {
      width: 80%;
    }
  }
body
{
  background:linear-gradient(to left,#b384ff,#6eb2ff ) ;
}
 